.navbar {
    min-height: 75px;
}

.navbar .nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #ffc107 !important;
}

.navbar-brand {
    letter-spacing: .5px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}